    <!-- Side-Nav -->
    <div class="side-navbar d-flex justify-content-between flex-wrap flex-column" id="sidebar">
        <ul class="nav flex-column text-white w-100">
            <a href="/" class="nav-link h3 text-white my-2">
                MC02 Application
            </a>
            <a href="/" class="nav-link text-white">
                <li>
                    <i class='bx bx-camera-movie'></i>
                    <span class="mx-2">View Movies</span>
                </li>
            </a>

            <a href="/Reports" class="nav-link text-white">
                <li>
                    <i class="bx bx-receipt"></i>
                    <span class="mx-2">View Reports</span>
                </li>
            </a>

            <a href="/recovery" class="nav-link text-white">
                <li>
                    <i class='bx bx-health'></i>
                    <span class="mx-2">Recovery</span>
                </li>
            </a>

            <a href="/movie-add" class="nav-link text-white">
                <li>
                    <i class='bx bx-add-to-queue'></i>
                    <span class="mx-2">Add Movie</span>
                </li>
            </a>
        </ul>
    </div>

    <!-- Main Wrapper -->
    <div class="p-1 my-container">
        <!-- Top Nav -->
        <nav class="navbar top-navbar navbar-light bg-white px-5 sticky-top">
            <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
        </nav>
        <!--End Top Nav -->
        <h1 class="h1 text-center mb-2">Recovery</h1>
        <div class="container-lg">
            <div class="position-absolute top-50 start-50 translate-middle text-center">
                <button type="button" id="rcvr1-btn" class="btn btn-success btn-lg mx-4">Recover All Nodes</button>
            </div>

        </div>